
<table>
    <tr>
  <% @cookbook.recipes.each do |recipe| %>
      <td>
        <div class='picture recipe'>
          <img class='img_cookbook' src='<%= recipe.img_url %>'>
      		<h3><a href='<%= recipe.recipe_url %>' target="_blank"><%= recipe.name %></a></h3>
          <button class='<%=recipe.id%> delete'>remove</button>

      	</div>
      </td>

  <% end %>
    </tr>
</table>