<div id='view_recipes' class="col">

</div>


<div class='navbar'>
  <h1>DATE MY RECIPE</h1>


<ul id="navlist">
  <li><form id='food_submit' action="/foods" method='post'>
    <input type="text" name="name" placeholder="Enter a food item...">
    <input  type="submit" value="View Recipes!">
  </form></li>
  <li><button id="cookbook"><%= @user.username.capitalize %>'s Cookbook</button></li>
  <li><form action="/logout" method="post">
    <input type="submit" value="Log Out!">
  </form></li>
</ul>
</div>

